

#menuSidebarCloser {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
    margin-left: 0;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#menuSidebarCloser:hover {
    background-color: #b9b9b9;
}


/* menu sidebar */
/* scrollspy chat gpt */
.menu-sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    transition: left 0.3s ease;
    width: 330px;
    height: 100vh;
    overflow-y: auto;
    background-color: #ebebeb;
    padding: 0px 12px;
    border-left: 1px solid #ddd;
    z-index: 9;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.menu-sidebar-pop-in {
    left: 0;
}

.menu-header {
    padding-bottom: 24px;
    border-bottom: 2px solid black;
    position: relative;
}

/* menu header */
.profile {
    display: flex;
    align-items: center;
    padding: 48px 12px 12px 12px;
  }
  
  .profile-pic {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
  }
  
  .profile-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 24px;
    margin-top: 0px;
  }
  
  .role-badge {
    background-color: #007bff;
    color: white;
    padding: 4px 6px;
    border-radius: 24px;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    margin-right: 24px;

  }

h2#sidebarTitle {
    font-size: 24px;
    margin: 24px 0;
    padding-right: 24px;
    padding-bottom: 12px;
    border-bottom: 2px solid #000;
    /* text-align: center; */
    text-decoration: none;
    color: black;
}

.menu-items-list {
    margin-top: 24px;
}


.chapter {
    margin-bottom: 4px;
}

.articles {
    /* padding-right: 8px; */
    border-right: 2px solid #000;
    padding-right: 4px;
    margin-bottom: 8px;
    margin-right: 12px;
    overflow: hidden;
    max-height: 0;
    /* opacity: 0; */
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.articles.expanded {
    max-height: 100vh;
    /* opacity: 1; */
}

.menu-sidebar li {
    font-weight: 600;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowed content */
    text-overflow: ellipsis; /* Add ellipsis at the end */
    max-width: 300px;
    font-size: 18px;
    padding: 8px 8px;
    /* margin-bottom: 4px; */
}



.menu-sidebar a {
    display: block;
    text-decoration: none;
    color: #000;
    border-radius: 4px;
}

.menu-sidebar ol ol a {
margin: 4px 0;
}

.menu-items-list > a > li::before {
    content: "â¯";
    padding-left: 8px;
    padding-right: 0px;
}
 

.menu-items-list > ol:last-of-type  {
    margin-bottom: 32px;
}

.menu-items-list a:hover {
    color: #333;
    background-color: #b1b5e3;
    transition: background-color 0.5s;
}

.menu-items-list a.active {
    color: #333;
    background-color: #b1b5e3;
}