

#sidebarCloser {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#sidebarCloser:hover {
    background-color: #b9b9b9;
}

h2#sidebarTitle {
    font-size: 24px;
    margin: 24px 0;
    padding-right: 24px;
    padding-bottom: 12px;
    border-bottom: 2px solid #000;
    /* text-align: center; */
    text-decoration: none;
    color: black;
}

/* scrollspy chat gpt */
.index-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.3s ease;
    width: 330px;
    height: 100vh;
    overflow-y: auto;
    background-color: #ebebeb;
    padding: 12px;
    border-left: 1px solid #ddd;
    z-index: 9;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.index-sidebar-pop-in {
    right: 0;
}

.chapter {
    margin-bottom: 4px;
}

.articles {
    /* padding-right: 8px; */
    border-right: 2px solid #000;
    padding-right: 4px;
    margin-bottom: 8px;
    margin-right: 12px;
    overflow: hidden;
    max-height: 0;
    /* opacity: 0; */
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.articles.expanded {
    max-height: 100vh;
    /* opacity: 1; */
}

.index-sidebar li {
    font-weight: 600;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowed content */
    text-overflow: ellipsis; /* Add ellipsis at the end */
    max-width: 300px;
    font-size: 16px;
    padding: 8px 8px;
    /* margin-bottom: 4px; */
}



.index-sidebar a {
    display: block;
    text-decoration: none;
    color: #000;
    border-radius: 4px;
}

.index-sidebar ol ol a {
margin: 4px 0;
}

.contents-list > a > li::before {
    content: "â¯";
    padding-left: 8px;
    padding-right: 0px;
}
 

.contents-list > ol:last-of-type  {
    margin-bottom: 32px;
}

.contents-list a:hover {
    color: #333;
    background-color: #e1a3c1;
    transition: background-color 0.5s;
}

.contents-list a.active {
    color: #333;
    background-color: #e1a3c1;
}