
.book-tab p {
    text-indent: 20px;
    padding: 0 16px;
    text-align: justify;
    line-height: 2;
}

h1, h2, h3, h4 {
    margin: 24px 24px;
    color: #ec0877;
    text-decoration: underline;
    text-underline-offset: 12px;
}

.book-tab {
    max-width:856px;
    /* flex-basis: 856px; */
    min-width: 310px;
    /* position: relative; */
}

.book-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    width: 170px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* right: 50%; */
    /* transform: translateX(-50%); */
    /* left: 400px; */
    z-index: 99;
}

.page-navigator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    width: 159px;
    height: 54px;
    border: 2px solid black;
    border-radius: 48px;
    background-color: white;
}

.btn--next-page, .btn--prev-page {   
    font-size: 16px;
    height: 48px;
    flex-basis: 48px;
    margin: 0 2px;
    padding: 8px 16px;
    /* border: 2px solid black; */
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn--next-page:hover, .btn--prev-page:hover {
    background-color: #dddddd;
}

#pageInput {
    border-radius: 24px;
    text-align: center;  /* Centers the text horizontally */
    padding: 0;          /* Remove any default padding */
    height: 48px;         /* Adjust the height as needed */
    font-size: 18px;      /* Adjust font size as needed */
    box-sizing: border-box; /* Ensures padding and border are included in the width and height */
  }  

/* .book__inside {
    max-height: 80vh;
    padding: 0 8px;
    overflow: auto;
} */

#insideBook {
    /* max-height: 92vh; */
    padding: 0 0px;
    overflow: auto;
}


.page {
    /* position: sticky; */
    /* top: 0;  */
    background-color: transparent; /* Background color for visibility */
    /* padding: 4px; Padding around the title */
    /* z-index: 2; Ensure it appears above other content */
    border-top: 4px solid #facad5; /* Optional: Bottom border for emphasis */
    /* border-radius: 8px 8px 0px 24px; */
    /* margin-bottom: 12px;
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    height: 24px; */
    padding: 40px 0;
    position: relative;
}
  
.page-number {
    justify-content: center;
    background-color: #facad5;
    /* color: white; */
    color: black;
    height: 36px;
    width: 36px;
    font-size: 16px;
    /* font-weight: bold; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4px;
    left: 4px;
    clip-path: polygon(0% 0%, 100% 0, 100% 60%, 60% 100%, 0% 100%);

}


/* For Chrome, Safari, and newer versions of Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
