<!DOCTYPE html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- Row 2 : Exercise Number and Tags -->
    <div class="number-tags-container">
      <div class="exercise__number">تمرین شماره ۹۹۸ از ۹۹۹</div>

      <div class="tags-container">
        <ul class="tags-list horizontally-scrollable">
          <li class="all-tags">
            <a href="#"><span class="tag first-tag">چهار گزینه ای</span></a>
            <ul class="tags">
              <a href="#"><li class="tag">جای خالی</li></a>
              <a href="#"><li class="tag">صورت مبهم</li></a>
              <a href="#"><li class="tag">مقایسه ای</li></a>
              <a href="#"><li class="tag">مفهومی</li></a>
              <a href="#"><li class="tag">متوسط</li></a>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
