<!DOCTYPE html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- Row 5 : Answer Box -->
    <div class="exercise__answer-box">
      <h2>پاسخ: گزینه ۴</h2>
      <p>
        منظور از صورت سؤال در گوسفند، سیرابی و در کرم خاکی، ملخ و پرندۀ
        دانه‌خوار، چینه‌دان است. با توجه به تصویر زیر، در پرندۀ دانه‌خوار،
        چینه‌دان غذا را به معده که جلوی سنگدان قرار گرفته است، وارد می‌کند.
      </p>

      <h2>بررسی سایر گزینه‌ها:</h2>

      <div class="option">
        <strong>گزینه ۱:</strong> نادرست. در گوسفند (نشخوارکنندگان)، سیرابی توان
        تولید آنزیم لازم برای هضم سلولز را ندارد و از این نظر وابسته به
        میکروب‌های دارای آنزیم سلولاز است که در این بخش به‌صورت همزیست وجود
        دارند.
      </div>

      <div class="option">
        <strong>گزینه ۲:</strong> نادرست. شروع گوارش مکانیکی و شیمیایی در انسان
        از دهان است، نه معده.
      </div>

      <div class="option">
        <strong>گزینه ۳:</strong> نادرست. در ملخ، خود چینه‌دان بخش حجیم انتهای
        مری است که غذا را به پیش‌معده می‌دهد.
      </div>
    </div>
  </body>
</html>
