<!DOCTYPE html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- Row 6 : References -->
    <div class="bottom-bar">
      <ul class="ref-list">
        <li class="ref-book horizontally-scrollable">
          <span class="book">زیست شناسی ۱</span>
          <ul class="pages horizontally-scrollable">
            <a href="#"><li class="page centered">۵۷</li></a>
            <a href="#"><li class="page centered">۱۹</li></a>
            <a href="#"><li class="page centered">۸</li></a>
            <a href="#"><li class="page centered">۱۴۵</li></a>
            <a href="#"><li class="page centered">۶۷</li></a>
            <a href="#"><li class="page centered">۸</li></a>
            <a href="#"><li class="page centered">۱۴۵</li></a>
            <a href="#"><li class="page centered">۶۷</li></a>
            <a href="#"><li class="page centered">۸</li></a>
            <a href="#"><li class="page centered">۱۴۵</li></a>
            <a href="#"><li class="page centered">۶۷</li></a>
          </ul>
        </li>
      </ul>
    </div>
  </body>
</html>
