<!DOCTYPE html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- Row 3 : Question Box -->
    <div class="exercise__question-box">
      <div class="question-container">
        <div class="question">
          <p>کدام گزینه، عبارت زیر را به‌طور مناسب کامل می‌کند؟</p>
          <p>
            «در ........... ساختاری که به ذخیرۀ غذا کمک می‌کند و به جانور امکان
            می‌دهد تا با دفعات کمتر تغذیه، انرژی مورد نیاز خود را تأمین کند،
            ............»
          </p>
        </div>

        <ul class="options">
          <li>۱) گوسفند - توانایی تولید آنزیم گوارش دهنده سلولز را دارد.</li>
          <li>۲) کرم خاکی - فرایند آسیاب کردن غذا را به انجام می‌رساند.</li>
          <li>
            ۳) ملخ - ابتدا مواد غذایی را به بخش حجیم انتهای مری وارد می‌نماید.
          </li>
          <li>
            ۴) پرندة دانه‌خوار - ابتدا مواد غذایی را به بخشی در جلوی سنگدان
            منتقل می‌کند.
          </li>
        </ul>
      </div>

      <!-- Tooltips -->
      <div class="tooltips-container tooltips-position">
        <ul class="tooltips-list">
          <li
            id="tooltip-correct"
            class="tooltip tooltip--correct tooltips-position"
          >
            <span class="icon">☑</span>
            درست گفتم!
          </li>
          <li
            id="tooltip-incorrect"
            class="tooltip tooltip--incorrect tooltips-position"
          >
            <span class="icon">⛝</span>
            اشتباه گفتم!
          </li>
          <li id="tooltip-like" class="tooltip tooltip--like tooltips-position">
            <span class="icon">♡</span>
            سؤال قشنگیه!
          </li>
          <li id="tooltip-star" class="tooltip tooltip--star tooltips-position">
            <span class="icon">★</span>
            سؤال مهمیه!
          </li>
          <li
            id="tooltip-report"
            class="tooltip tooltip--report tooltips-position"
          >
            <span class="icon">⚠</span>
            ایراد داره!
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
