<!DOCTYPE html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- Row 4 : Middle Row : answerToggle-authorLink-userInputs -->
    <div class="middle-bar">
      <div class="toggle-author-container">
        <div class="toggle-answer"></div>
        <div class="author-link">✎ رضا قزلسفلو</div>
      </div>
      <div class="tags-inputBtns-container">
        <div class="exercise-tags">امتحان نهایی - اردیبهشت ۱۳۹۸ - ۲ نمره</div>
        <div class="exercise-inputBtns">
          <button
            class="btn--inputs btn--correct"
            data-tooltipID="tooltip-correct"
          >
            ☑</button
          ><button
            class="btn--inputs btn--incorrect"
            data-tooltipID="tooltip-incorrect"
          >
            ⛝</button
          ><button class="btn--inputs btn--like" data-tooltipID="tooltip-like">
            ♡</button
          ><button class="btn--inputs btn--star" data-tooltipID="tooltip-star">
            ★</button
          ><button
            class="btn--inputs btn--report"
            data-tooltipID="tooltip-report"
          >
            ⚠
          </button>
        </div>
      </div>
    </div>

    <script src="scripts.js"></script>
  </body>
</html>
